/* ordered select styles */
.osWrapper {
  list-style:none;
  margin-left:0px;
}
.osDisplayNode {
  position:relative;
  border:1px solid #ccc;
  border-radius:3px;
  padding:3px;
  padding-left:5px;
  max-width:400px;
  margin-bottom:5px;
  box-sizing:border-box;
  filter:none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.osRemove {
  position: absolute;
  right: 10px;
  width: 10px;
  background-color: white;
  top:4px;
  font-size:17px;
  color:#666;
  text-decoration: none;
}
.osRemove:hover {
  text-decoration: none;
}